@charset "UTF-8";
body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #edfff4;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  height: 8%;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}
nav button {
  margin: 3%;
  height: 80%;
  background-color: transparent;
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  transition: transform 0.2s;
}
nav button img {
  border-radius: 90%;
  max-height: 100%;
  width: auto;
  flex-shrink: 1;
  transition: transform 0.2s;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
nav button:hover {
  transform: scale(1.1); /* Agrandir l'image lors du clic */
  border: none;
}
nav button:hover img {
  transform: scale(1.1); /* Agrandir l'image lors du clic */
}
nav button.active {
  transform: scale(1.1);
}
nav button.active img {
  transform: scale(1.1);
}

.content {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}
.content .lateral-barre {
  background-color: #f1ebdd;
  width: 220px;
  height: 85%;
  padding: 5px;
  transform: translateX(-305px);
  transition: transform 0.8s cubic-bezier(0.5, 0, 0, 1);
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: -3px 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 1%;
  border-radius: 3px;
  margin-left: 1%;
}
.content .lateral-barre input {
  background-color: #edfff4;
  border: none;
  margin-bottom: 5px;
}
.content .lateral-barre img {
  width: 70%;
}
.content .lateral-barre ul {
  list-style: none;
  padding: 0;
}
.content .lateral-barre li {
  margin-bottom: 15px;
  transition: color 0.4s, transform 0.4s;
  font-family: "Raleway", sans-serif;
  transform-origin: left;
  font-size: 1.2em;
}
.content .lateral-barre li:hover {
  color: #29200A;
  cursor: pointer;
  transform: scale(1.1);
}
.content .lateral-barre li.active {
  color: #29200A;
  transform: scale(1.1);
}
.content .lateral-barre p {
  margin-bottom: 15px;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  color: #B93535;
}
.content .lateral-barre a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.content .lateral-barre.active {
  transform: translateX(0);
}
.content .language-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.content article {
  background-color: #f1ebdd;
  z-index: 5;
  transition: opacity 0.5s;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.5);
  margin-left: 1%;
  margin-top: 1%;
  border-radius: 5px;
  height: 85%;
  padding: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 0;
  width: 100%;
}
.content article h1 {
  width: 100%;
  margin-left: 8%;
  text-align: start;
  font-size: 1.8em;
  font-family: "Montserrat", sans-serif;
  color: #575757;
}
.content article #accordeonTemplate {
  width: 100%;
}
.content article p {
  color: #333333;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  padding: 15px;
  width: 85%;
  text-align: justify;
}
.content article .accordion {
  background-color: #D1C094;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-family: "Roboto Condensed", sans-serif;
  color: #09382d;
  font-size: 1.2em;
  border-radius: 10px;
  overflow-x: hidden;
}
.content article .active, .content article .accordion:hover {
  background-color: #A4822A;
  color: #edfff4;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.content article .accordion:after {
  content: "+";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.content article .active:after {
  content: "−";
}
.content article .panel {
  padding: 0;
  background-color: #edfff4;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-width: 100%;
  margin-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  color: #001712;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  text-align: justify;
}
.content article .code-template {
  padding: 10px;
  font-family: monospace;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f7f7f7;
  border: #BAA15F 1px solid;
  border-radius: 4px;
  margin: 16px 0;
  font-size: 16px;
  line-height: 1.4;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.content article .code-template .code-template-button {
  height: 50px;
  width: 150px;
  bottom: 0;
  right: 0;
  background-color: #D1C094;
  transition: 0.6s background-color;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
}
.content article .code-template .code-template-button:hover {
  background-color: #A4822A;
}
.content article .code-template .code-template-button:active {
  background-color: #7B611F;
}
.content article .code-template .comment {
  color: #117052;
  font-style: italic;
}
.content h2 {
  text-align: start;
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  color: #29200A;
  margin-right: 3%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*# sourceMappingURL=style.css.map */
