$colorCyan1 : #edfff4;
$colorCyan2 : #b5fde9;
$colorCyan3 : #a1ffe1;
$colorCyan4 : #61ffd1;
$colorCyan5 : #41a187;
$colorCyan6 : #1c6450;
$colorCyan7 : #117052;
$colorCyan8 : #09382d;
$colorCyan9 : #001712;

$colorMarron1 : #f1ebdd;
$colorMarron2 : #D1C094;
$colorMarron3 : #BAA15F;
$colorMarron4 : #A4822A;
$colorMarron5 : #7B611F;
$colorMarron6 : #524115;
$colorMarron7 : #29200A;
$colorMarron8 : #29200A;

$colorRouge1: #FFC3C2;
$colorRouge2: #D9534F;
$colorRouge3: #B93535;
$colorRouge4: #8D1E1C;

$colorGris1: #F5F5F5;
$colorGris2: #E0E0E0;
$colorGris3: #CCCCCC;
$colorGris4: #999999;
$colorGris5: #575757;
$colorGris6: #333333;

$font1: 'Roboto', sans-serif;
$font2Title: 'Montserrat', sans-serif;
$font3: 'Lato', sans-serif;
$font5: 'Raleway', sans-serif;
$font7: 'Roboto Condensed', sans-serif;
$title: 'Tilt Neon', cursive;
